{% extends 'layouts/base.html.twig' %}

{% block title 'Home' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="text-center">This is the home page</h1>
		</div>
	</div>


{% endblock %}
