{% extends 'layouts/base.html.twig' %}

{% block title "Reset your password"%}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Reset your password</h1>
			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-lg btn-block btn-primary">Reset password</button>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
