{% if app.user and app.user.isVerified == false %}
	<div class="alert alert-error" role="alert">
		Your account has not been verified yet.
	</div>
{% endif %}

{% for type, messages in app.flashes(['success', 'error', 'info']) %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
